<head>
    <title>Má Klaus covid?</title>
    <meta property="og:type" content="KlausCovid">
    <meta property="og:title" content="Má Klaus Covid?" />
    <meta property="og:description" content="Zde se dozvíte, jestli má Klaus covid" />
    <meta property="og:url" content="maklauscovid.tk" />
</head>
<div style="left:25%; width:50%; top:50%; margin-top: -5%; height:5%; position:absolute; align-content:center; text-align:center">
        <h1>Má Klaus covid?</h1>
        <h1>Ano! Expresident Klaus má covid.</h1>
</div>
